{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}


<div class="border m-5 p-4  formulario">
  <h2 class="nav justify-content-center">Añadir fecha</h2>
   <div class="dropdown-divider"></div>
  <form method="post"  class= "px-4 py-3">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div class="text-center">
    <button type="submit" class="btn btn-info">Guardar</button>
    </div>
  </form>
</div>
{% endblock %}