

 #headerInicio{
        background:url('../../img/index/portada.jpg');
        height: 50vh;
        background-position: cover;
        font-family: 'Delius Unicase', cursive;

      }
       .titulo{
        background: rgba(242,232,218,.7);
      }
       .titulo h3{
        color:#FFACB7!important;
      }
.formulario{
        background-color: #FFFAFA ;
}

.display{
        background-color: #FFFFF ;
}

.menuInicio{

    color: #6c757d;
}
.menuInicio:hover{
color:#FFFAFA;
}
/*
FFACB7 (rosa)
C1D1DD (negro)
0A0C1C (celeste)
89182F (burdeos)
F2E8DA (vainilla)
FFFAFA (rosa formulario)
*/