{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}

<div>
    <br><br><br><br><br>




</div>

<div>
    <a href="/anadirTension">Añadir registro de tensión</a><br>
    <a href="/anadirPesoMama">Añadir registro de peso de la mama</a><br>
    <a href="/anadirPesoBebe">Añadir registro de peso del bebe</a><br>
    <a href="/anadirPatada">Añadir registro de patada</a><br>
    <a href="/anadirMedicacion">Añadir medicación</a><br>
    <a href="/anadirFoto">Añadir foto</a><br>
    <a href="/anadirContraccion">Añadir registro contracciones</a><br>

</div>

{% endblock %}