<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">

    {% block  css %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <link href="../static/css/styles/styleIndex.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase&display=swap" rel="stylesheet">
    {% endblock %}

  <title>Cuarenta Semanas</title>

  </head>
  <body>
    <nav class="bg-light shadow-sm sticky-top">
      <div class="container-fluid">
        <div class="row align-items-center p-3">
          <div class="col-12 col-md-6 text-center">
            <img  src="../static/img/index/2.png" alt="Logo"  class="img-fluid">
          </div>
          <div class=" col-12 col-md-6 text-center ">
            <ul class="list-unstyled mb-0">
              <li class="d-inline-block p-2"><a href="/inicio" style="color:#F2E8DA" class="lead"><strong>Inicio</strong></a></li>
              <li class="d-inline-block p-2"><a href=""  style="color:#F2E8DA" class="lead"><strong>Rueda Obstétrica</strong></a></li>
              <li class="d-inline-block p-2"><a href=""  style="color:#F2E8DA" class="lead"><strong>Gráficas</strong></a></li>
              {% if not user.is_authenticated %}
              <li class="d-inline-block p-2"><a href="/inicioSesion" style="color:#F2E8DA" class="lead"><strong>Iniciar Sesión</strong></a></li>
              {% endif %}

              {% if user.is_authenticated %}
              <li class="d-inline-block p-2"><a href="" style="color:#F2E8DA" class="lead"><strong>Agenda</strong></a></li>
               <li class="d-inline-block p-2"><a href="" style="color:#F2E8DA" class="lead"><strong>Diario</strong></a></li>
               <li class="d-inline-block p-2"><a href="" style="color:#F2E8DA" class="lead"><strong>Cerrar Sesión</strong></a></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </nav>

     {% block  contenido %}
     {% endblock %}





    {% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{%  static 'js/jquery.min.js' %}"></script>

  <script src="{%  static 'js/popper.min.js' %}"></script>

  <script src="{%  static 'js/bootstrap.min.js' %}"></script>
  {% endblock %}
  </body>

<footer class="bg-secondary text-center py-3 position">
      <p class="lead mb-0 text-light">Trabajo Fin de Grado. María Jiménez Vega.</p>
</footer>


</html>