<!DOCTYPE html>
{% load static %}
<html lang='es'>
	<head>
	</head>
	<body>
		<header>
			{% block encabezado %}{% endblock %}
            <br>

            <h1>Inicio</h1>
            <div>
				<ul class="nav">
                    <li><a href='/inicio'><strong>Introduction</strong></a></li>
                    {% if user.is_authenticated %}
                    <li><a href='/logout'><strong>Log out</strong></a></li>
                    {% else %}
                    <li><a href='/login'><strong>Login</strong></a></li>
                    <li><a  href='/signup'><strong>Signup</strong></a></li>
                    {% endif %}
                </ul>
            </div>
		</header>


        <div>
		    <section class='contenido'>
			    {% block contenido %}{% endblock %}
		    </section>
        </div>

		<br/>
		<footer>
			<p>Proyecto para la Universidad de Sevilla</p>
		</footer>
	</body>