{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}
<style>
      header{
        background:url('../static/img/index/portada.jpg');
        height: 50vh;
        background-position: cover;
        font-family: 'Delius Unicase', cursive;

      }
      header .titulo{
        background: rgba(242,232,218,.7);
      }
      header .titulo h3{
        color:#FFACB7!important;
      }


      }
</style>


<main>
 <form action='/borrarUsuario/{{user.id}}' method='POST'>{% csrf_token %}
    <h1>Do you want to delete your account {{ user.nickName }}?</h1>
    <div class="text-center">
    <p><input  class="btn btn-info" type='submit' value='Yes' />
        <input class="btn btn-info" type="button" value="No"  onclick="window.location='/inicio'"></input></p>
     </div>

</form>
</main>

{% endblock %}