
{% extends 'base.html' %}
{% load i18n static %}

{% block contenido %}
<br><br>
<div>

<h3>{{ mesCal }} {{ anoCal }}</h3>
</div>
    <table class="cal_month_calendar">
<tr>
    {% for day in headers %}
    <th>{{ day|date:"D"|slice:":3" }}</th>
{% endfor %}
</tr>
    {% for week in calendar %}
    <tr>
            {% for day in week %}
                     <td{% if not day.in_month %} class="cal_not_in_month"{% endif %}>
                     {% if day.event %}
                         {% if getMes %}
                             <a href="/miAgenda/?fecha={{ masMes }}&detalle={{day.day|date:"Ymd" }}">{{ day.day|date:"j" }}</a>
                             {% else %}
                              <a href="/miAgenda/?detalle={{day.day|date:"Ymd" }}">{{ day.day|date:"j" }}</a>
                         {% endif %}


                         {% else %}{{ day.day|date:"j" }}{% endif %}</td>
{% endfor %}
    </tr>
{% endfor %}
    </table>


    <br><br>
    <div>

    {% if getDetalle %}
         {% for detalle in detalles %}
             {{ detalle.titulo }}
            {{ detalle.fecha }}
             {{ detalle.descripcion }}
             <br>
        {% endfor %}
    {% endif  %}
    </div>

    <div>
    <a href="/buscarFecha/">Buscar Fecha</a>
        <br>
    <a href="anadirFecha/">Añadir nuevo evento</a>

    </div>
{% endblock %}