{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}



<div class="border m-5 p-4  formulario">
  <h2 class="nav">Cambiar contraseña</h2>
 <div class="dropdown-divider"></div>

<br>
 <form method="post">
  {% csrf_token %}
    {% for field in form %}
      <p class="formulario_form">
        {{ field.label_tag }}
        {{ field }}<br>
         {{ field.errors }}

      </p>
    {% endfor %}

 <p class="border border-secondary text-secondary rounded p-2 bg-white">
         SU CONTRASEÑA NO PUEDE ASEMEJARSE A UNA INFORMACIÓN PERSONAL
     <br>SU CONTRASEÑA DEBE TENER AL MENOS 8 CARACTERES
     <br> SU CONTRASEÑA NO PUEDE SER UNA CLAVE UTILIZADA COMÚNMENTE
     <br> SU CONTRASEÑA NO PUEDE SER COMPLETAMENTE NUMÉRICA
 </p>
   <button type="submit" class="btn btn-info">Guardar</button>
</form>

</div>
{% endblock %}