{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}
<style>
      header{
        background:url('../static/img/index/portada.jpg');
        height: 50vh;
        background-position: cover;
        font-family: 'Delius Unicase', cursive;

      }
      header .titulo{
        background: rgba(242,232,218,.7);
      }
      header .titulo h3{
        color:#FFACB7!important;
      }


      }
</style>


<main>
 <form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Guardar cambios</button>
</form>
</main>

{% endblock %}