{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}



<div class="border m-5 p-4  formulario">
  <h2 class="nav">Cambiar contraseña</h2>
 <div class="dropdown-divider"></div>
<p class="text-secondary">COSAS QUE DEBE CUMPLIR CONTRASEÑA</p>
<br>
 <form method="post">
  {% csrf_token %}
    {% for field in form %}
      <p class="formulario_form">
        {{ field.label_tag }}
        {{ field }}<br>
         {{ field.errors }}
      </p>
    {% endfor %}

   <button type="submit" class="btn btn-info">Guardar</button>
</form>
</div>

{% endblock %}