{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}
<style>
      header{
        background:url('../static/img/index/portada.jpg');
        height: 50vh;
        background-position: cover;
        font-family: 'Delius Unicase', cursive;

      }
      header .titulo{
        background: rgba(255,255,255,.7);
      }
      header .titulo h3{
        color:#e4ab9a!important;
      }


      }
    </style>
<header>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 h-25 align-self-center text-center titulo py-5 shadow">
            <h3 class="display-1">Cuantenta Semanas</h3>
          </div>
        </div>
      </div>
    </header>




{% endblock %}