{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}
<style>
      header{
        background:url('../static/img/index/portada.jpg');
        height: 50vh;
        background-position: cover;
        font-family: 'Delius Unicase', cursive;

      }
      header .titulo{
        background: rgba(242,232,218,.7);
      }
      header .titulo h3{
        color:#FFACB7!important;
      }


      }
    </style>
<header>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 align-self-center text-center titulo shadow">
            <h3 class="display-1">Cuanrenta Semanas</h3>
          </div>
        </div>
      </div>
    </header>


 <main>
      <div class="container">
          <!-- Menú -->
        <div class="row py-5">

          <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
               <div class="card my-3">
                    <a href="http://www.enlace.com" > <img src="../static/img/index/calendario.png" alt="Rueda obstétrica" class="img-fluid"></a>
                    <div class="card-body">
                        <h3 class="pt-3">Rueda obstétrica</h3>
                         <span class="d-block">Calcula tu fecha posible de parto, fecha taltal taltal cual asi tal cual sigue diciendo dos</span>
                 </div>
               </div>
          </div>

          <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
               <div class="card my-3">
                    <a href="http://www.enlace.com" > <img src="../static/img/index/percentil.jpg" alt="Percentil" class="img-fluid"></a>
                    <div class="card-body">
                        <h3 class="pt-3">Gráficas</h3>
                         <span class="d-block">Calcula tu fecha posible de parto, fecha taltal taltal cual asi tal cual sigue diciendo dos</span>
                 </div>
               </div>
          </div>

       </div>

          <!-- Mapa -->
          <div class="row py-5">
          <div class="col-12 col-md-12 text-center mb-4 mb-md-0">
            <img src="../static/img/index/mapa.png" alt="Mapa" class="img-fluid">
            <h3 class="pt-3">Encuentra tu hospital más cercano</h3>
          </div>

        </div>


      </div>
</main>




{% endblock %}