{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}

<header id="headerInicio">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 align-self-center text-center titulo shadow">
            <h3  style="font-size:8vw;" class="display-1">Cuanrenta Semanas</h3>
<style>
       
        @media only screen and (max-width: 769px) {
            #headerInicio {
            background-image: url("../../static/img/index/portadaS.jpg");
            }

        }
        @media only screen and (max-width: 970px) {
            #headerInicio {
            background-image: url("../../static/img/index/portadaM.jpg");
            }
            }
        </style>
          </div>
        </div>
      </div>
</header>


 <main>
      <div class="container">
          <!-- Menú -->
        <div class="row py-5">

          <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
               <div class="card my-3">
                    <a href="http://www.enlace.com" > <img src="../static/img/index/calendario.png" alt="Rueda obstétrica" class="img-fluid"></a>
                    <div class="card-body">
                        <h3 class="pt-3">Rueda obstétrica</h3>
                         <span class="d-block">Calcula tu fecha posible de parto, fecha taltal taltal cual asi tal cual sigue diciendo dos</span>
                 </div>
               </div>
          </div>

          <div class="col-12 col-md-6 text-center mb-4 mb-md-0">
               <div class="card my-3">
                    <a href="http://www.enlace.com" > <img src="../static/img/index/percentil.jpg" alt="Percentil" class="img-fluid"></a>
                    <div class="card-body">
                        <h3 class="pt-3">Gráficas</h3>
                         <span class="d-block">Calcula tu fecha posible de parto, fecha taltal taltal cual asi tal cual sigue diciendo dos</span>
                 </div>
               </div>
          </div>

       </div>

          <!-- Mapa -->
        <div class="row py-5">
          <div  class="col-12 col-md-12 text-center mb-4 mb-md-0">
               <h3 class="pb-3">Encuentra tu hospital más cercano</h3>
             <iframe class="embed-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.18320202663!2d-5.982558284965585!3d37.36184177983679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126e81dabc1107%3A0x4820072cc02d8a14!2sHospital%20Universitario%20Virgen%20del%20Roc%C3%ADo!5e0!3m2!1ses!2ses!4v1583751271783!5m2!1ses!2ses" width="960" height="515" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>


      </div>
</main>




{% endblock %}