{% extends "base.html" %}
{% load i18n static %}

{% block contenido %}


<div class="border m-5 p-4  formulario">
  <h2 class="nav justify-content-center">Registro</h2>
   <div class="dropdown-divider"></div>
  <br>
  <form method="post"  class= "px-4 py-3">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}

      </p>
    {% endfor %}
    <div class="text-center">

        {{ form.errors }}
    <button type="submit" class="btn btn-info">Registrar</button>
    </div>
  </form>
</div>

{% endblock %}